textarea {
	resize: none;
	min-width: 310px;
	max-width: 310px;

	min-height:	70px;
}
.insuficiente {
	background-color: #ffb8b8 !important
}

.insuficiente:nth-child(odd) {
	background-color: #ffa8a8 !important
}


.salvar {
	background-color: #609bf5 !important;
}

button { /* remover css redundante */
	background-color: #60f59b;
	color: white;
	padding: 10px 30px;
	border-radius: 6px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}
