/* #00dfc0 */
/* #4974a5 */
/* #385a64 */

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.container-tabelas{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 90%;
    overflow: auto;
}
.container-selects{
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px 0px;
}
.container-selects .inputs:first-child{
    flex-basis: 50%;
}
.container-selects select{
    border-radius: 15px;
    height: 26px;
    font-size: 14px;
    margin-bottom: 15px;
}
.container-selects span{
    text-align: left;
}
.invisivel{
    display: none;
}

/* TABELAS */

table{
    margin-top: 10px;
    width: 100%;
    height: 83%;
    border-collapse: collapse;
    /*box-shadow: 0px 0px 50px rgba(0 0 0 / 25%);*/
}
thead, tbody{
    width: 100%;
}
tfoot{
    text-align: center;
}
thead tr{
    height: 55px;
}
tbody tr{
    height: 80px;
}
tfoot{
    height: 6%;
}
tbody tr td{
    text-align: center;
    height: 80px;
}
tr:nth-child(even){
    background-color: #ddd;
}
th, tfoot{
    color: #fff;
    background: #00dfc0;
}

/* INPUTS DAS TABELAS */

tr td input[type="text"]{
    border: none;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    transition: 1s;
}
td input[type="text"]:focus{
    background: #fff;
    border: 1px solid #00dfc0;
    transform: scale(1.1);
    transition: 1s;
}
tr td input[type="checkbox"]{
    width: 20px;
    height: 20px;
    transition: 1s;
}
tr td input[type="checkbox"]:checked{
    transform: scale(1.2);
    transition: 1s;
}
.sucesso {
    color: green;
    text-align: center;
    border: 1px solid green;
    margin-top: 5px;
    background: #b1f7b1;
    padding: 5px;
}
.erro {
    color: red;
    text-align: center;
    border: 1px solid red;
    margin-top: 5px;
    background: #f7b1b1;
    padding: 5px;
}
