
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	padding: 0px;
	margin: 0px;
}
html, body{
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-flow: column;
}
ul, ol, a{
	text-decoration: none;
	list-style: none;
}
input:focus{
	box-shadow: 0 0 0 0;
	outline: 0;
}
input:focus, select:focus, textarea:focus{
	outline: 0;
}
::-webkit-scrollbar-track {
	background-color: #F4F4F4;
}
::-webkit-scrollbar {
	width: 6px;
	background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
	background: #dad7d7;
}
button, input[type="submit"]{
	outline: none;
	box-shadow: none;
	border: none;
}
