.container-login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255,255,255,.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
}
.container-login img{
    width: 40%;
}
.container-form {
    height: 75%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.container-form form{
    color: #00dfc0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 450px;
    box-shadow: 1px 1px 15px #00dfc0;
    border: 2px solid #00dfc0;
    border-radius: 15px;
    padding: 10px 50px;
    box-sizing: border-box;
    transition: 1s;
}
.container-form form .inputs{
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
}
.container-form form .botao{
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.container-form form .inputs input:not([type="submit"]){
    color: #00dfc0;
    height: 25px;
    border: none;
    border-bottom: 2px solid #385a64;
    padding: 3px;
    background: transparent;
    text-align: center;
}
.container-form form .inputs input[type="submit"]{
    color: #fff;
    background: #385a64;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 15px #385a64;
    border: none;
    cursor: pointer;
    transition: 1s;
}
.container-form form .inputs input[type="submit"]:hover{
    transition: 1s;
    transform: translateY(-5px);
}
.container-form form input + label{
    transform: translateY(25px);
    width: 47%;
    z-index: -1;
    transition: 1s;
 }
.container-form form .inputs input:not(:placeholder-shown) + label{
    color: #00dfc0;
    font-weight: bold;
    transform: translateY(10px);
    transition: 1s;
}
.container-form form input:focus + label{
    color: #00dfc0;
    font-weight: bold;
    transform: translateY(10px);
    z-index: 1;
    transition: 1s;
}
.container-form form .inputs i{
    transform: translateY(44px);
    align-self: flex-end;
    cursor: pointer;
    transition: 1s;
}
.container-form form a{
    color: #385a64;
}

@media only screen and (max-width: 1000px){
    .container-login{
        flex-flow: column;
    }
}

/* VALIDACAO SENHA */

.forca-senha{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 54%;
}
.container-prog{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.lista-rec li{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: #797373;
    padding: 3px;
}
.lista-rec li i{
    color: #e62323;
    margin-right: 3px;
    transition: 1s;
}
.barra-prog{
    position: relative;
    width: 0%;
    margin: 10px 0px;
    height: 10px;
    transition: 1s;
}
.lista-rec li .verificado{
    color: green;
    transition: 1s;
    animation: correto 1s;
}

@keyframes correto{
    0% {transform: scale(1);}
    50%{transform: scale(1.3);}
    100%{transform: scale(1);}
}
