.obrigatorio:before {
	content: '*';
}
a[href='#'] { color:red }
.ambiente_desenvolvimento { border: 1px solid red; box-sizing: border-box;}
[disabled] textarea,
[disabled] input { background-color: silver}

input[type="submit"] {
	/* border: 1px solid gray; */
	background-color: #609bf5;
	color: white;
	padding: 10px 30px;
	border-radius: 6px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}

input[type="submit"]:hover {
	/* border: 1px solid silver; */
	text-decoration: underline;
}


.container {
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 90%;
}

#caixaMensagem {
	text-align: center;
	margin: 5px 10px;

	margin-top: 5px;
	padding: 5px;
	cursor: pointer;
}

.sucesso {
	color: green;
	border: 1px solid green;
	background: #b1f7b1;
}
.erro {
	color: red;
	border: 1px solid red;
	background: #f7b1b1;
	background-image: url(../img/warning.png)
}

.info {
	color: blue;
	border: 1px solid darkblue;
	background: #b1b1f7;
}
