<div>
	<label for="titulo" title="Descrição do Título">Título</label>
	<input type="text" name="titulo" id="titulo" value="" class="obrigatorio" required="required" maxlength="255" />
</div>
<div>
	<label for="ativo" title="Descrição do Título">ativo</label>
	<label><input type="checkbox" name="ativo" id="ativo" value="1" class="obrigatorio" required="required"  />Ativo</label>
</div>
<div>
	<label for="criado_em" title="Descrição do Título">criado_em</label>
	<input type="text" name="criado_em" id="criado_em" value="" class="obrigatorio" required="required" maxlength="19" />
</div>
<div>
	<label for="atualizado_em"title="Descrição do Título">atualizado_em</label>
	<input type="text" name="atualizado_em" id="atualizado_em" value=""class="obrigatorio" required="required" maxlength="19" />
</div>
<div>
	<label for="excluido_em"title="Descrição do Título">excluido_em</label>
	<input type="text" name="excluido_em" id="excluido_em" value=""class="obrigatorio" required="required" maxlength="19" />
</div>
<div>
	<label for="criado_por" title="Descrição do Título">criado_por</label>
	<input type="text" name="criado_por" id="criado_por" value="" class="obrigatorio" required="required" maxlength="11" />
</div>
<div>
	<label for="atualizado_por" title="Descrição do Título">atualizado_por</label>
	<input type="text" name="atualizado_por" id="atualizado_por" value="" maxlength="11" />
</div>
<div>
	<label for="excluido_por" title="Descrição do Título">excluido_por</label>
	<input type="text" name="excluido_por" id="excluido_por" value="" maxlength="11" />
</div>
