<div>
	<label for="login">login</label>
	<input type="text" name="login" id="login" value=""class="obrigatorio" required="required" maxlength="60" />
</div>
<div>
	<label for="senha">senha</label>
	<input type="text" name="senha" id="senha" value=""class="obrigatorio" required="required" maxlength="60" />
</div>
<div>
	<label for="email_confirmado">email_confirmado</label>
	<label><input type="checkbox" name="email_confirmado" id="email_confirmado" value="1" class="obrigatorio" required="required" />Email_confirmado</label>
</div>
<div>
	<label for="token">token</label>
	<input type="text" name="token" id="token" value=""maxlength="255" />
</div>
<div>
	<label for="ativo">ativo</label>
	<label><input type="checkbox" name="ativo" id="ativo" value="1" class="obrigatorio" required="required" />Ativo</label>
</div>
<div>
	<label for="reset">reset</label>
	<input type="text" name="reset" id="reset" value=""maxlength="50" />
</div>