<!-- 15-07-2021 10:54:37-->
<div>
	<label for="login">login</label>
	<input type="text" name="login" id="login" value=""class="obrigatorio" required="required" maxlength="60" />
</div>
<div>
	<label for="ativo">ativo</label>
	<label><input type="checkbox" name="ativo" id="ativo" value="1" class="obrigatorio" required="required" />Ativo</label>
</div>
<div>
	<label for="telefone">telefone</label>
	<input type="text" name="telefone" id="telefone" value=""class="obrigatorio" required="required" maxlength="15" onkeypress="$(this).mask('(00) 0.0000-0000');" />
</div>
<div>
	<label for="nome">nome</label>
	<input type="text" name="nome" id="nome" value=""class="obrigatorio" required="required" maxlength="255" />
</div>
<div>
	<label for="endereco">endereco</label>
	<input type="text" name="endereco" id="endereco" value=""class="obrigatorio" required="required" maxlength="255" />
</div>
<div>
	<label for="cpf">cpf</label>
	<input type="text" name="cpf" id="cpf" value=""class="obrigatorio" required="required" maxlength="14" onkeypress="$(this).mask('000.000.000-00');" />
</div>
